@using Core.Entities
@using Core.Entities.Enum
@model Employee

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form</title>
</head>
<body>

    <form asp-action="/submit_employee" method="post">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" required><br>

        <label asp-for="Surname">Surname:</label>
        <input asp-for="Surname" class="form-control" required><br>

        <label asp-for="CreatedDate">Created Date:</label>
        <input asp-for="CreatedDate" type="datetime-local" class="form-control" required><br>

        <label asp-for="AutoBaseId">AutoBase ID:</label>
        <input asp-for="AutoBaseId" class="form-control" required><br>

        <label asp-for="Position">Position:</label>
        <select asp-for="Position" asp-items="Html.GetEnumSelectList<PositionType>()" class="form-control" required></select><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>
