@using Core.Entities
@using Core.Entities.Enum
@model FuelConsumption

@{
    ViewData["Title"] = "Create Fuel Consumption";
}

<h2>Create Fuel Consumption</h2>

<form asp-action="Create" method="post">
    <div style="opacity:0">
        <input asp-for="AutoBaseId" required/>
    </div>
    <div>
        <label asp-for="Type">Fuel Type:</label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<FuelType>()" class="form-control" required></select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Volume">Volume:</label>
        <input asp-for="Volume" type="number" step="0.1" class="form-control" required>
        <span asp-validation-for="Volume" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" required>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="OperationType">Operation Type:</label>
        <select asp-for="OperationType" asp-items="Html.GetEnumSelectList<OperationType>()" class="form-control" required></select>
        <span asp-validation-for="OperationType" class="text-danger"></span>
    </div>

    <!-- Add other fields as needed -->

    <div>
        <button type="submit">Create</button>
    </div>
</form>
